/* Body and Fonts */
body {
    font-family: 'Merriweather', 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', 'Roboto', sans-serif;
}

p,
span,
small {
    font-family: 'Open Sans', sans-serif;
}

/* Container */
.container {
    background-color: #f4f3f2;
}

/* Dashboard Container */
.dashboard-container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 140px;
}

/* Page Header */
.page-header {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #232526;
    margin-top: 50px;
    text-transform: uppercase;
}

.page-header::after {
    content: '';
    display: block;
    width: 700px;
    max-width: 90%;
    height: 1px;
    background-color: #adadad;
    margin: 8px auto 30px;
}

/* Page Description */
.page-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
    padding: 0 10px;
    text-align: center;
}

/* Section */
.section {
    margin-bottom: 40px;
}

.section-header {
    font-size: 24px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px solid #ddd;
}

/* Grid List */
.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    justify-content: start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.drafts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, max-content));
    gap: 30px;
    justify-content: start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

.course-card {
    width: 100%;
    max-width: 280px;
    height: 420px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-right: 15px;
}

.course-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: #f9f9f9;
}

/* Course Image */
.course-image {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 12px;
}

/* Course Title */
.course-title {
    font-size: 21px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0px 15px;
    color: #333;
    text-align: center;
}

/* Course Action Button */
.course-action {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    margin: 16px auto 0; /* Adjust spacing around the button */
    padding: 12px 18px; /* Button padding */
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    background-size: 300% auto;
    color: white;
    box-shadow: 0 0 12px #eee;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.course-action:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.course-action:focus {
    outline: 2px solid #7b7e81;
    outline-offset: 2px;
    transition: outline 0.2s ease-in-out;
    background-image: linear-gradient(to right, #414345 0%, #555555 51%, #414345 100%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.course-action:active {
    background-image: linear-gradient(to right, #555555 0%, #666666 51%, #555555 100%);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-image 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.no-courses-message {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    min-height: 300px; /* Adjust as needed to ensure proper spacing */
    gap: 20px; /* Add space between text and card */
}

.getStarted {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #232526;
    text-align: center;
}

/* Create a New Course Card */
.create-card {
    order: 1; /* Ensure this card always appears at the start */
    position: relative;
    background-image: url('../assets/images/white_card_discover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border-radius: 8px;
    border: 3px dashed #686868;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
}

.course-wordA,
.course-wordB,
.course-wordC {
    font-family: 'Playfair Display', 'Roboto', sans-serif;
    display: inline-block;
}

.course-wordA {
    font-size: 40px;
    margin-top: 28px;
}

.course-wordB {
    font-size: 40px;
    margin-top: 16px;
}

.course-wordC {
    font-size: 100px;
    margin-top: 0px;
}

/* Media Queries */
@media (max-width: 1039px) {
    .course-list,
    .drafts-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .course-list,
    .drafts-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .course-card {
        height: auto;
    }
}
